body, div, h1, h2, h3, p, img, main, ul {
  margin: 0;
}
body {
  width: 100%;
  border: 0;
  text-align: center;
}
header {
  display: block;
  background-image: url("./img/shire.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
}
main {
  position: relative;
}
p {
  background-color: rgba(85, 107, 47, 0.5);
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
span {
  font-style: italic;
}
ul li {
  color: slategrey;
  list-style-type: none;
}
a:visited {
  color: blue;
}
a:hover {
  color: red;
}
a:focus {
  background-color: yellow;
}
a:active {
  background-color: white;
}
footer {
  padding: 40px;
}
h1,h2 {
  background-color: #556B2F;
  font-family: cursive;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.row {
  position: absolute;
}
.cards {
  height: 400px;
  width: 30%;
}
.float-left {
  float: left;
  margin: 0 10px 10px 0;
}
.float-right {
  float: right;
  margin: 0 0 10px 10px; 
}
.linear-gradient {
  background: linear-gradient(to right, skyblue, darkolivegreen);
}
.fixed-effect {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.bagend {
  background-image: url("./img/bag_end.png");
}
.bagend h2 {
}
.shire {
  background-image: url("./img/shire_map.jpg");
  font-weight: 800;
}
.ring {
  background-image: url("./img/ring.png");
}
.gandalf {
  background-image: url("./img/gandalf.png");
}
.gollum {
  background-image: url("./img/gollum.jpeg");
}
